body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.maze-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: whitesmoke;
	background-image: url('https://www.transparenttextures.com/patterns/project-paper.png');
}

.maze {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.controls {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.maze-button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: rgb(112, 129, 240);
	color: white;
	cursor: pointer;
}

.row {
	display: flex;
	flex-direction: row;
}

.cell {
	width: 40px;
	height: 40px;
	border: 1px solid white;
}

.cell.wall {
	background-color: black;
}

.cell.start {
	background-color: green;
}

.cell.end {
	background-color: red;
}

.cell.path {
	background-color: white;
}

.cell.visited {
	background-color: lightskyblue;
}